.App {
  text-align: center;
}

:root {
  --main-bg-color: #393646;
  --text-color: #F4EEE0;
  --text-highlight-color: #F45050;
  --link-color: #F9D949;
}


body {
  background-color: var(--main-bg-color);
  color: var(--text-color);
  font-family: 'Stardos Stencil', sans-serif;
  font-weight: 700;
                                                
}
button {
  font-family: 'Stardos Stencil', sans-serif;
}

a {
  color: var(--link-color);
  text-decoration: none;
  font-family: 'Stardos Stencil', sans-serif;
}

h1 {
  color: var(--text-highlight-color);
}

.App > h1 {
  color: var(--link-color);
}

.App > h1 img {
  margin-bottom: -0.75em;
}

.App > h1 > span {
  color: var(--text-highlight-color);
}


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #4F4557;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.showContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color:  #4F4557;
  border: solid;
  border-color: var(--text-color);
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 4em;
  border-radius: 2em;
  padding: 2em;
  flex-wrap: wrap;
  /* box-shadow: 10px 8px 10px 5px var(--text-color); */
}



.showContainer > div {
  display: flex;
  justify-content: center;
  height: inherit;
  align-items: center;
  padding-left: 2em;
  padding-right: 2em;
  flex-wrap: wrap;
}

.dayContainer {

}

.routerButton, .movieContainer {
  background-color: #4F4557;
  border-radius: 10px;
  font-size: 2em;
  border-color: var(--link-color);
  color: var(--link-color);
  cursor: pointer;
  max-width: 90vw;
}

.readMoreButton {
  background-color: var(--text-highlight-color);
  border-radius: 10px;
  font-size: 1em;
  padding: 1em;
  border-color: var(--text-highlight-color);
  color: var(--text-color);
  cursor: pointer;
}

.routerButton:hover {
  background-color: var(--main-bg-color);
}

.routerButton.routerButton{
  margin-left: 1em;
}

.routerButton~.routerButton {
  margin-right: 1em;
}

.moviesContainer {
  display: flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.movieContainer {
  margin-top: 1em;
  margin-bottom: 1em;
}

a > h1 {
  color: var(--link-color);
}

input[type=date] {
  background-color: var(--main-bg-color);
  color: var(--text-highlight-color)
}

.showDetails {
  color: var(--link-color)
}